.barchart {
    border: 2px solid gray; 
    margin-top: 30px;
    max-width: 1500px;
    margin-bottom: auto; 
    margin-left: auto; 
    margin-right: auto;
}

.lineChart {
    width: 450px;
    margin-left: 80px; 
    margin-top: 50px;
    border: 2px solid gray;
}
