.z-depth-1a {
    -webkit-box-shadow: 0 5px 10px 0 rgba(55, 161, 255, 0.26), 0 8px 24px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 5px 10px 0 rgba(55, 161, 255, 0.26), 0 8px 24px 0 rgba(121, 155, 254, 0.25); 

}
    
.z-depth-1-half, .btn:hover {
    -webkit-box-shadow: 0 10px 22px 0 rgba(85, 182, 255, 0.28), 0 8px 30px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 10px 22px 0 rgba(85, 182, 255, 0.28), 0 8px 30px 0 rgba(36, 133, 255, 0.15); 
}
    
.LoginImage {
    background-image: url("./../images/2v.jpg"); 
    position: fixed; 
    width: 1350px; 
    height: auto; 
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 500px

}